*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #353539;
    overflow-x: hidden;
}

#turismo {
    border-top: #F7D117 25px solid;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid #0033AB;
}
    

.img-header{
    margin-left: 30px;
    margin-top: 5px;
    padding-bottom: 8px;
    padding-top: 5px;
    width: 300px;
}    

@media (max-width: 770px){
    .img-header{
        margin-left: 5%;
        width: 78%;
    }
}

@media (max-width: 700px){
    .img-header{
    margin-top: 10%;
    }
}

#menu ul li {
    background-color: #fff;
    font-family: Raleway !important;
}

#menu ul {
  list-style:none;
  margin:0;
  padding:0;
}

#menu ul a {
  display:block;
  color:#0033AB;
  text-decoration:none;
  font-weight:400;
  font-size:1.5rem;
  padding: 13px;
  font-family: Raleway !important;
}

#menu ul li {
  position:relative;
  float:left;
  margin-top:3%;
  padding:0;
}

#menu ul li:hover {
    border-bottom: 1px solid #CF142B;
}

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

#menu ul ul li {
  float:none;
  width:200px
}

#menu ul ul a {
  line-height:120%;
  padding:10px 15px;
}

#menu ul li:hover > ul {
  display:block;
}

h1{
    text-align: center;
    color: black;
    font-size: 5rem;
    padding-bottom: 1%;
    font-style: oblique;
    font-weight: bold;
}

h1:hover{
    color: #0033AB;
}

@media (max-width: 700px){
    h1{
        font-size: 3rem;
    }
}


.text{
    width: 95%;
    margin-bottom: 3%;
}

.text p{
    font-size: 1.5rem;
    margin-left: 2%;
    text-align: center;
}

.aeropuertos{
    display: flex;
    width: 95%;
    justify-content: center;
    margin-bottom: 5%;
}

.info{
    width: 45%;
    margin-left: 3%;
    justify-content: center;
    margin-top: 2%;
    padding-right: 5%;
}

.info h2{
    color: #0033AB;
    font-size: 2rem;
}

.info p{
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 1%;
}

main{
    border-bottom: 25px solid #CF142B;
}

.titles{
    margin: 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.text{
    width: 95%;
    margin-bottom: 3%;
    justify-content: center;
}

.text p{
    font-size: 1.5rem;
    margin-left: 2%;
    text-align: center;
}


.links{
    display: flex;
    justify-content:space-around;
    margin-bottom: 40px;
}

.links a svg{
   color: black;
}

.facebook:hover{
    color: #3b5998;
}

.twitter:hover{
    color: #1DA1F2;    
}

.instagram:hover{
    color: #E1306C;
}

.footer{
    justify-content: center;
}

footer img{
    margin-left: 40%;
    width: 300px;
    padding: 0;
}

@media screen and (max-width: 1000px){
    footer img{
        margin-left: 25%;
    }

    .aeropuertos{
        display: block;
        justify-content: center;
        margin-bottom: 20%;
    }

    .info{
        width: 100%;
        text-align: center;
    }

    
    iframe{
        width: 95%;
        height: 100%;
        margin-left: 2.5%;
    }
}

@media (max-width: 700px) {
    header{
        width: 100%;
        margin: 0;
    }

    .img-header{
        width: 90%;
        margin: 4%;
        padding: 0;
    }

    nav{
        display: none;
    }

    .tarjeta{
        width: 95%;
        margin: 2.5%;
    }

    footer img{
        width: 90%;
        margin-left: 5%;
    }
    
}

.Copy{
    width: 100%;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}